{%load static%}
<!DOCTYPE html>

<html lang="en">

<head>
   <meta charset="utf-8" />
   <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
   <link href="{% static 'images/favicon.png' %}" rel="icon" />
   <title>ECO HTML</title>
   <!-- CSS FILES START -->
   <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
   <link href="{% static 'css/color.css' %}" rel="stylesheet" />
   <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
   <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet" />
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
   <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet" />
   <link href="{% static 'css/all.min.css' %}" rel="stylesheet" />
   <!-- CSS FILES End -->
<script src="https://code.jquery.com/jquery-3.6.3.slim.js" integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>
</head>

<body>
<div class="wrapper home2">
    <header class="header-style-2">
        <nav class="navbar navbar-expand-lg">
        <a action="/home" class="navbar-brand" href="{% url 'home' %}"><img alt=""
                src="{% static 'images/h2logo.png' %}" /></a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"> <i
                class="fas fa-bars"></i> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                 href="{% url 'home' %}" role="button"><i class="fas fa-home"></i> Home </a>
                    
                </li> -->
                <li class="nav-item"> <a class="nav-link" href="{%url 'about'%}"> <i class="fas fa-info-circle"></i> About</a> </li>
                <li class="nav-item dropdown">
                    <!-- <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                    data-toggle="dropdown" href="events-grid.html" role="button"> Events </a> -->
                    <ul class="dropdown-menu">
                    <li><a href="events-grid.html">Events Grid</a></li>
                    <li><a href="events-grid-2.html">Events Grid Two</a></li>
                    <li><a href="events-grid-3.html">Events Grid Three</a></li>
                    <li><a href="events-list.html">Events List</a></li>
                    <li><a href="events-list-two.html">Events List Two</a></li>
                    <li><a href="event-details.html">Event Details</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <!-- <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                    data-toggle="dropdown" href="causes.html" role="button"> Causes </a> -->
                    <ul class="dropdown-menu">
                    <li><a href="causes.html">Causes Grid</a></li>
                    <li><a href="causes-list.html">Causes List</a></li>
                    <li><a href="causes-details.html">Causes Details</a> </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <!-- <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                    data-toggle="dropdown" href="{% url 'blog'%}" role="button"> Blogs </a> -->
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                    href="{% url 'blog'%}" role="button"> <i class="fas fa-rss"></i> Blogs </a>
                    <ul class="dropdown-menu">
                    <li><a href="blog.html">Blog Default</a></li>
                    <li><a href="blog-list.html">Blog List</a> </li>
                    <li><a href="blog-grid.html">Blog Grid</a></li>
                    <li><a href="blog-two-col.html">Blog Two Columns</a> </li>
                    <li><a href="blog-three-col.html">Blog Three Columns</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                    data-toggle="dropdown" href="#" role="button"> Pages </a> -->
                    <ul class="dropdown-menu">
                    <li>
                        <a href="#">Projects</a>
                        <ul class="dropdown-menu">
                            <li><a href="projects.html">Projects</a> </li>
                            <li><a href="projects-grid.html">Projects Grid</a> </li>
                            <li><a href="projects-grid-two.html">Projects Grid Two</a> </li>
                            <li><a href="projects-list.html">Projects List</a> </li>
                            <li><a href="projects-details.html">Project Details</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Shop</a>
                        <ul class="dropdown-menu">
                            <li><a href="shop.html">Shop</a> </li>
                            <li><a href="shop-two.html">Shop Two</a> </li>
                            <li><a href="shop-details.html">Shop Details</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="team.html">Team</a>
                        <ul class="dropdown-menu">
                            <li><a href="team.html">Team One</a> </li>
                            <li><a href="team-two.html">Team Two</a> </li>
                            <li><a href="team-details.html">Team Details</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Gallery</a>
                        <ul class="dropdown-menu">
                            <li><a href="gallery-grid.html">Gallery Grid</a> </li>
                            <li><a href="gallery-full.html">Gallery Full</a> </li>
                            <li><a href="gallery-masonry.html">Gallery Masonry</a> </li>
                        </ul>
                    </li>
                    <li><a href="testimonials.html">Testimonials</a> </li>
                    <li><a href="donation.html">Donation</a> </li>
                    <li><a href="my-account.html">My Account</a> </li>
                    <li><a href="coming-soon.html">Coming Soon</a> </li>
                    <li><a href="page-404.html">404 Error</a> </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <!-- <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                    data-toggle="dropdown" href="{%url 'contact'%}" role="button"> Contact </a> -->
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                        href="{%url 'forum'%}" role="button"><i class="fas fa-globe"></i> Forum </a>
                    <ul class="dropdown-menu">
                    <li><a href="contact-one.html">Contact One</a> </li>
                    <li><a href="contact-two.html">Contact Two</a> </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <!-- <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                    data-toggle="dropdown" href="{%url 'contact'%}" role="button"> Contact </a> -->
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                        href="{%url 'test0'%}" role="button"><i class="fa fa-comment"></i>  Chat </a>
                   
                </li>
                <li class="nav-item dropdown">
                    <!-- <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                    data-toggle="dropdown" href="{%url 'contact'%}" role="button"> Contact </a> -->
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                        href="{%url 'contact'%}" role="button"><i class="far fa-address-book"></i>  Contact </a>
                   
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item dropdown">
                    <!-- <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                    data-toggle="dropdown" href="{%url 'contact'%}" role="button"> Contact </a> -->
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                        href="{%url 'login'%}" role="button"><i class="far fa-address-book"></i>  Login </a>
                   
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <!-- <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                    data-toggle="dropdown" href="{%url 'contact'%}" role="button"> Contact </a> -->
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                        href="{%url 'logout'%}" role="button"><i class="far fa-address-book"></i>  Logout </a>
                   
                </li>
                {% endif %}
            </ul>
            <ul class="topnav-right">
                <li> <a class="mdonate" href="donation.html"><span>Make a Donation</span></a> </li>
                <li> <a class="search-icon" href="#search"> <i class="fas fa-search"></i> </a> </li>
                <li class="dropdown">
                    <a class="cart-icon" data-toggle="dropdown" href="#" id="cartdropdown" role="button"> <i
                        class="fas fa-shopping-cart"></i></a>
                    <div aria-labelledby="cartdropdown" class="dropdown-menu cart-box">
                    Recently added item(s)
                    <ul class="list">
                        <li class="item">
                            <a class="preview-image" href="#"><img alt="" class="preview"
                                src="{% static 'images/pro.jpg' %}" /></a>
                            <div class="description"> <a href="#">Sample Course</a> <strong class="price">1 x
                                $44.95</strong> </div>
                        </li>
                        <li class="item">
                            <a class="preview-image" href="#"><img alt="" class="preview"
                                src="{% static 'images/pro.jpg' %}" /></a>
                            <div class="description"> <a href="#">Sample Course</a> <strong class="price">1 x
                                $44.95</strong> </div>
                        </li>
                    </ul>
                    <div class="total">Total: <strong>$44.95</strong></div>
                    <div class="view-link"><a href="#">Proceed to Checkout</a> <a href="#">View cart </a></div>
                    </div>
                </li>
                {% if not user.is_authenticated %}
                <li class="login-reg"> <a href="{%url 'login'%}">Login</a> | <a href="{%url 'signup'%}">Signup</a>
                </li>
                {% else %}
                <li class="login-reg"> <a href="{% url 'logout'%}">Logout</a>
                </li>
                {%endif%}
                <li class="login-reg"> <a href="{% url 'logout'%}">Logout</a>
                </li> 
            </ul>
        </div>
        </nav>
    </header>

    {%block body%}
    
    {%endblock%}

    <footer class="footer">
        <div class="footer-top wf100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <!--Footer Widget Start-->
                        <div class="footer-widget">
                            <h4>About Grow Green</h4>
                            <p> Grow Green is the non-profit organisation helping digitally farmers to increase crops production
                                and efficiency, providing on time support and tips which help farmers to reach into full potential </p>
                            <a class="lm" href="{%url 'about'%}">About us</a>
                        </div>
                        <!--Footer Widget End-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <!--Footer Widget Start-->
                        <div class="footer-widget">
                            <h4>Our Promises</h4>
                            <ul class="quick-links">
                                <li><a href="#">Help you grow more</a></li>
                                <li><a href="#">Waste Management</a></li>
                                <li><a href="#">Eco Ideas</a></li>
                                <li><a href="#">Recycling Materials</a></li>
                                <li><a href="#">Plant Ecology</a></li>
                                <li><a href="#">Saving crops from insects </a></li>
                                <li><a href="#">Live support at any time </a></li>
                            </ul>
                        </div>
                        <!--Footer Widget End-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <!--Footer Widget Start-->
                        <div class="footer-widget">
                            <!-- <h4>Latest Posts</h4> -->
                            <ul class="lastest-products">
                                <!-- <li> <img alt="" src="{% static 'images/flp1.jpg' %}" /> <strong><a href="#">How you
                                            can keep alive wild animals for...</a></strong> <span
                                        class="pdate"><i>Posted:</i> 29 September, 2018</span> </li>
                                <li> <img alt="" src="{% static 'images/flp2.jpg' %}" /> <strong><a
                                            href="#">Eliminate your plastic bottle pollution &amp;
                                            keep...</a></strong> <span class="pdate"><i>Posted:</i> 29 September,
                                        2018</span> </li>
                                <li> <img alt="" src="{% static 'images/flp3.jpg' %}" /> <strong><a href="#">How you
                                            can keep alive wild animals for...</a></strong> <span
                                        class="pdate"><i>Posted:</i> 29 September, 2018</span> </li> -->
                            </ul>
                        </div>
                        <!--Footer Widget End-->
                    </div>
                    
                </div>
            </div>
        </div>

    </footer>
</div>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/custom99.js' %}"></script>
</body>

</html>