{%extends 'base.html'%}
{% load static %}
{%block body %}
<div id="search">
   <button class="close" type="button">×</button>
   <form class="search-overlay-form">
      <input placeholder="type keyword(s) here" type="search" value="" />
      <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
   </form>
</div>
<!--Header End-->
<!--Inner Header Start-->
<section class="wf100 p100 inner-header">
   <div class="container">
      <h1>Contact Us</h1>
      <ul>
         <li><a href="#">Home</a></li>
         <li><a href="#"> Contact </a></li>
         <!-- <li><a href="#"> Contact One</a></li> -->
      </ul>
   </div>
</section>
<!--Inner Header End-->
<!--Contact Start-->




<section class="contact-page wf100 p80">
   <div class="container">
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
         {{message}}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
      </div>
      {%endfor%}
      <div class="row">

         <div class="col-md-1"></div>
         <div class="col-md-10">
            <div class="contact-form mb60">
               <h3>Feel Free to Contact us</h3>
               <form action="{% url 'contact' %}" method="POST">
                  {% csrf_token %}
                  <ul class="cform">
                     <li class="half pr-15">
                        <input class="form-control" placeholder="Full Name" name="name" type="text" />
                     </li>
                     <li class="half pl-15">
                        <input class="form-control" placeholder="Email" name="email" type="text" />
                     </li>
                     <li class="half pr-15">
                        <input class="form-control" placeholder="Phone no." name="contact" type="number" />
                     </li>
                     <li class="half pl-15">
                        <input class="form-control" placeholder="Subject." name="subject" type="text" />
                     </li>
                     <li class="full">
                        <textarea class="textarea-control" name="message" placeholder="Message"></textarea>
                     </li>
                     <li class="full">
                        <!-- <input class="fsubmit" type="submit" value="Contact us" /> -->
                        <button class="fsubmit" type="submit">Submit</button>
                     </li>
                  </ul>
                  <!-- <button class="fsubmit" type="submit">Submit</button> -->
               </form>
            </div>
         </div>
         <!-- <div class="col-md-12">
                  <div class="google-map">
                     <div class="contact-map-info">
                        <address>
                           <ul>
                              <li>
                                 <strong class="add-title">Address:</strong>
                                 4700 Millenia Blvd # 175, Orlando, FL 32839, USA
                              </li>
                              <li>
                                 <strong class="add-title">Contact:</strong>
                                 <p><strong>Phone:</strong> +1 321 2345 678-9</p>
                                 <p><strong>Fax:</strong> +1 321 2345 876-7</p>
                              </li>
                              <li>
                                 <strong class="add-title">For More Information:</strong>
                                 <p><strong>Email:</strong> info@ecova.com</p>
                                 <p>contact@ecova.com</p>
                              </li>
                           </ul>
                        </address>
                     </div>
                     <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11418.310112375979!2d-74.00986187433132!3d40.710981182716246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2s!4v1540972202179"></iframe>
                  </div>
               </div> -->
      </div>
   </div>
</section>
<!--Contact End-->
<!--Footer Start-->
{%endblock%}